//solo se pueden usar dos espacios o tab pero no los 2 al mismo tiempo
doctype html 
html
  head 
    meta(charset="UFT-8")
    //esto referencia a un css que nos proporciono la clase
    link(rel="stylesheet", href="css/ejercicio-pug.css")
  body 
    header
      h1 Hello Word 
      a.boton Registro
