//solo se pueden usar dos espacios o tab pero no los 2 al mismo tiempo
doctype html 
html
  head 
    meta(charset="UFT-8")
    //esto referencia a un css que nos proporciono la clase
    link(rel="stylesheet", href="css/ejercicio-pug.css")
  body 
    header
      h1 Hello Word 
      a.boton Registro
    section.intro
      .intro_imagen: img(src="images/imagen.png")
      .intro_contenido 
        h2 Titulo Principal
        p
          | lorem The external scars tell only part of 
          | the story. Don't put peanut butter on the dog's 
          | nose. Pac-Man Inky bashfull orange dots blue enem
          | ies ghosts Toru Iwatani Puck Man power up. He had a
          | hidden stash underneath the floorboards in the ba
          | ck room of the house. The beauty of the sunset wa
          | s obscured by the industrial cranes. Pac-Man Namco
          | Toru Iwatani Pac-Man Fever maze dots. Fluffy pin
          | k unicorns are a popular status symbol among mac
          | ho men. 
          span pressed against the chalkboard. I hear that Nancy is very pretty. Shadow dots strawberry Pac-Man Midway chaser Pinky kill screen.
        a.boton Leer Mas